  <div class="row">
    <div class="col-md-12 col-lg-6">
      <nb-card size="big">
        <nb-tabset>
          <nb-tab tabTitle="Site 1">
            <ngx-status-card title="Floor 4" type="primary">
              <i class="nb-home"></i>
            </ngx-status-card>
            <ngx-status-card title="Floor 3" type="primary">
              <i class="nb-home"></i>
            </ngx-status-card>
            <ngx-status-card title="Floor 2" type="primary">
              <i class="nb-home"></i>
            </ngx-status-card>
            <ngx-status-card title="Floor 1" type="primary">
              <i class="nb-home"></i>
            </ngx-status-card>
          </nb-tab>
          <nb-tab tabTitle="Site 2">
            <ngx-status-card title="Floor 4" type="primary">
              <i class="nb-home"></i>
            </ngx-status-card>
            <ngx-status-card title="Floor 3" type="primary">
              <i class="nb-home"></i>
            </ngx-status-card>
            <ngx-status-card title="Floor 2" type="primary">
              <i class="nb-home"></i>
            </ngx-status-card>
            <ngx-status-card title="Floor 1" type="primary">
              <i class="nb-home"></i>
            </ngx-status-card>
          </nb-tab>
        </nb-tabset>
      </nb-card>
    </div>
  